.additional-info {
  @include indents-zero();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $laptop-width) {
    margin-top: 25px;
  }
}

.additional-info__item {
  width: 47.6%;

  @media (max-width: $laptop-width) {
    width: 100%;
  }
}

.additional-info__text {
  max-width: 100%;

  letter-spacing: 0.35px;

  margin-top: 25px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}
