.article {
  display: flex;
  flex-direction: column;

  padding: 20px 20px 10px;

  background-color: $color-grey-light;
}

.article__link {
  display: block;
  max-width: 100%;

  text-decoration: none;

  outline: none;
}

.article__title {
  display: block;
  max-width: 100%;
  transition: color $transition-time;

  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.45px;
  hyphens: auto;
  word-wrap: break-word;

  margin-top: 19px;
  margin-bottom: 45px;
}

.article__link:hover .article__title,
.article__link:focus .article__title {
  color: $color-red;
}

.article__img-wrapper {
  display: flex;
  position: relative;
  min-height: 209px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color $transition-time;

    background-color: transparent;
  }
}

.article__link:hover .article__img-wrapper,
.article__link:focus .article__img-wrapper {
  &::before {
    background-color: rgba($color-grey-dark, 0.7);
  }
}

.article__img-wrapper img {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: auto;
  max-width: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.article__inner-wrapper {
  max-width: 100%;
  display: flex;
  align-items: flex-end;

  margin-top: auto;
}

.article__price {
  width: 75%;
  display: block;

  color: $color-text-dark;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.7px;
  hyphens: auto;
  word-wrap: break-word;

  margin-right: 20px;
  margin-bottom: 7px;
}

.article__basket {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  transition: background-color $transition-time;

  padding: 0;
  margin-left: auto;
  margin-right: 8px;

  border: none;
  background-color: transparent;
  background-image: url("../img/basket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  outline: none;
  border-radius: 7px;
  
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba($color-red, 0.8);
  }
}
