.modal-form {
  width: 466px;
  position: fixed;
  z-index: 51;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-500%);
  opacity: 0;

  color: $color-white;

  padding: 30px 0 26px;

  animation-duration: 0.7s;
  animation-fill-mode: forwards;

  @media (max-width: $tablet-width) {
    width: 300px;
    height: 100vh;
    overflow-y: scroll;

    padding: 60px 0;
  }
}

.modal-form--show {
  animation-name: modal-form-show;
}

.modal-form--hide {
  animation-name: modal-form-hide;
}

.modal-form__container {
  position: relative;
  max-width: 100%;
  width: 100%;
  
  margin: 0 auto;
  padding: 30px 64px 26px;

  background-color: $color-white;

  @media (max-width: $tablet-width) {
    padding: 30px 15px;
  }
}

.modal-form__header {
  color: #535353;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  margin-top: 0;
  margin-bottom: 20px;
}

.modal-form .form__button {
  min-width: auto;
}


.modal-form__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 27px;

  transform: translate(100%, -100%);

  background-color: $color-grey;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;

  transition: transform $transition-time, background-color $transition-time;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 1px;
    left: 4px;
    top: 12px;
    transition: background-color $transition-time;

    background-color: $color-white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    background-color: $color-white;
    border-color: $color-grey;

    &::before,
    &::after {
      background-color: $color-grey;
    }
  }

  @media (max-width: $tablet-width) {
    transform: translate(0, -100%);
  }
}

@keyframes modal-form-show {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }

  10% {
    opacity: 0;
  }

  100% {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
  }
}

@keyframes modal-form-hide {
  0% {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
  }

  90% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  100% {
    transform: translateX(-50%) translateY(-500%);
    opacity: 0;
  }
}
