.tel {
  margin-bottom: 5px;
}

.tel__list {
  @include indents-zero();
}

.tel__link {
  font-family: "OpenSansCondensed-Light", "Arial", sans-serif;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 1px;
  text-decoration: none;

  transition: color $transition-time;

  outline: none;

  &:hover,
  &:focus {
    color: $color-red;
  }
}