@font-face {
  font-family: "OpenSansCondensed-Light";
  font-display: swap;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
    url("../fonts/OpenSansCondensed-Light.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}