$desktop-width: 1920px;
$laptop-width: 1023px;
$tablet-width: 767px;
$content-max-width: 1000px;

$side-padding-tablet: 20px;

$transition-time: 0.3s;

$color-grey: #777777;
$color-grey-dark: #444444;
$color-grey-light: #dcdcdc;
$color-grey-middle: #767676;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff0000;

$header-bg-color: $color-grey-light;
$footer-bg-color: $color-grey;
$color-text: $color-grey-middle;
$color-text-light: $color-white;
$color-text-dark: $color-grey-dark;